*{
    margin: 0px;
    padding: 0px;
    borderbox: box-sizing;
}
body{
    font-family: Arial, sans-serif;
    background-color: #e1d4d4;
    margin: 20px;    
}
.container h1{
    text-align: center;
    margin-top: 40px;
    color: #333;
}
img{
    height: 300px;
    width: 350px;
    margin: 20px;
}